@import "~bootstrap/scss/bootstrap";

.grid {
    flex-flow: wrap;
    flex-direction: column;
}

.cell {
    flex-grow: 1;
    width: 10%;

    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
    }
}

.cell-locked {
    flex-grow: 1;
    width: 10%;
    background: lightgrey;

    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
    }
}

.cell-selected {
    flex-grow: 1;
    width: 10%;
    background: lightgreen;
    img {
        z-index: -1;
        width: 100%;
    }
}

.cell-occupied {
    flex-grow: 1;
    width: 10%;
    background: lightcoral;

    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
    }
}
