@import "~bootstrap/scss/bootstrap";

$blue: #007bff;
$red: #dc3545;

.grid {
    flex-flow: wrap;
    flex-direction: column;
}

.cell {
    flex-grow: 1;
    width: 10%;
    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        background: url("../assets/img/aspect-ratio.png") 50% 50% no-repeat;
        background-size: contain;
    }
}

.cell-locked {
    flex-grow: 1;
    width: 10%;
    background: #f2f2f2;
    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
    }
}

.cell-selected {
    flex-grow: 1;
    width: 10%;
    background: lightgreen;
    img {
        z-index: -1;
        width: 100%;
    }
}

.cell-occupied {
    flex-grow: 1;
    width: 10%;
    background: #007bff;
    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.25);
    }
}

.cell-destroyed {
    flex-grow: 1;
    width: 10%;
    background-color: $blue;
    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        background: url("../assets/img/cross.png") 50% 50% no-repeat;
        background-size: contain;
    }
}

.cell-missed {
    flex-grow: 1;
    width: 10%;
    img {
        z-index: -1;
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.125);
        background: url("../assets/img/dot.png") 50% 50% no-repeat;
        background-size: contain;
    }
}
